@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model RIZIKI.Portal.Models.Auth.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>RIZIKI PORTAL</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" type="image/png" href="~/assets/static/img/favicon.ico" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="~/assets/static/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/static/css/animate.min.css" rel="stylesheet" />
    <link href="~/desiredfont.css" rel="stylesheet" />
    <link href="~/assets/static/css/style.min.css" rel="stylesheet" />
    <link href="~/assets/static/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/assets/static/css/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
</head>
<body class="pace-top bg-white">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin login -->
        <div class="login login-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image">
                    <img src="~/assets/static/img/brand2d/6.jpg" data-id="login-cover-image" alt="" style="width:100%;height:100%;object-fit:cover;object-position:center right;" />
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div class="right-content">
                <!-- begin login-content -->
                <div class="login-content">
                    <img class="madison-logo" src="~/assets/static/img/POCHI_LOGO.png" alt="Riziki logo" />
                    <form asp-controller="Account" asp-action="Login" method="POST" class="margin-bottom-0">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

                        <div class="row" id="errors">
                            @if (!string.IsNullOrEmpty(ViewBag.ExpiredMessage as string))
                            {
                                <div class="alert alert-info">@ViewBag.ExpiredMessage</div>
                            }
                            @if (!string.IsNullOrEmpty(Model.errormessage))
                            {
                                <div class="alert alert-danger">@Model.errormessage</div>
                            }
                        </div>

                        <div class="form-group m-b-15">
                            <label for="email">Email Address <span style="color:red;">*</span></label>
                            <input type="text" id="email" name="username" value="@Model.username" class="form-control input-lg" placeholder="Email Address" required />
                        </div>
                        <div class="form-group has-feedback">
                            <label for="password">Password <span style="color:red;">*</span></label>
                            <input type="password" id="password" name="password" class="form-control input-lg" placeholder="Password" required />
                            <i class="glyphicon glyphicon-eye-open form-control-feedback"></i>
                        </div>

                        <div class="checkbox m-b-30"></div>

                        <div class="row">
                            <input type="hidden" name="captcha" id="captchaInput" value="" />
                        </div>

                        <div class="login-buttons">
                            <div class="form-group">
                                <a href="@Url.Action("ResetPassword", "Account")" title="Forgot your password? Click here to reset">Forgot your password?</a>
                            </div>
                            <button id="login" name="login" type="submit" class="btn btn-primary btn-block btn-sm">Sign In</button>
                            <br />
                            <a href="@Url.Action("ClientRegister", "Account")" title="Your Organization is a member of Riziki? Click here to sign up" class="btn btn-success btn-block btn-sm">Sign Up</a>
                            <br />
                            <a href="@Url.Action("UserRegister", "Account")" class="btn btn-default btn-block btn-sm"><i class="fa fa-building"></i> Register New Organisation</a>
                        </div>
                        <hr />
                        <p class="text-center">
                            Copyright &copy; @DateTime.Now.Year <a href="http://www.smartcode.co.ke" target="_blank">Smartcode Technologies</a>. All rights reserved.
                        </p>
                    </form>
                </div>
                <!-- end login-content -->
            </div>
            <!-- end right-container -->
        </div>
        <!-- end login -->
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/static/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/assets/static/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="~/assets/static/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/assets/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/static/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/static/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/static/plugins/password-indicator/js/password-indicator.js"></script>
    <script src="~/assets/static/js/hideShowPassword.min.js"></script>
    <script src="~/assets/static/js/cp.js"></script>
    <script src="~/assets/static/js/apps.min.js"></script>
    <script src="~/assets/static/js/jquery.blockUI.js"></script>
    @if (!string.IsNullOrEmpty(Configuration["googleReCaptcha:SiteKey"]))
    {
        <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["googleReCaptcha:SiteKey"]"></script>
    }
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script>
        $(document).ready(function () {
        App.init();
        if (typeof FormPlugins !== 'undefined') { FormPlugins.init(); }

        @if (!string.IsNullOrEmpty(Configuration["googleReCaptcha:SiteKey"]))
        {
            <text>
                if (typeof grecaptcha !== 'undefined') {
                grecaptcha.ready(function () {
                grecaptcha.execute('@Configuration["googleReCaptcha:SiteKey"]', { action: 'home' }).then(function (token) {
                $("#captchaInput").val(token);
                });
                });
                }
            </text>
        }
        });

        $(document).on('submit', 'form', function (e) {
        if ($('form')[0].checkValidity()) {
        if (!e.isDefaultPrevented()) { BlockUI(); }
        }
        });

        function BlockUI() {
        $.blockUI({ message: '<h4><img src="/assets/static/img/loading1.gif" /> Please wait...</h4>' });
        }
        function UnblockUI() { $.unblockUI(); }
    </script>
</body>
</html>
